# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your name below

In [ ]:
# Write your answer here
print("Miracle Ephraim")

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"

In [ ]:
# Write your answer here:

print("I will abide by Emory's code of conduct")

<font size = "5">

Import the libraries "numpy" and "pandas"

In [2]:
# Write your answer here

import numpy as np
import pandas as pd


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/constructors.csv" file
- Replace the values "British", "American", and "Dutch" with <br>
"UK", "USA", "Netherlands" in the column "nationality"


HINT: See the example in Lecture 12

In [4]:
# Write your own code

constr = pd.read_csv("data_raw/constructors.csv")
constr.dtypes

list_old = ['British','American','Dutch']
list_new = ["UK", 'USA', 'Netherlands']

constr["nationality"] = constr["nationality"].replace(list_old, list_new)
constr

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,UK,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,UK,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,UK,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,USA,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,UK,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team

<font size = "5">


<span style="color:red"> For QUESTIONS (b)-(e): </span>

<span style="color:red"> Import the "data_raw/sprint_results.csv" file </span>


(b) Recode a numeric colum

<font size = "3">

- Recode the "points" column into a new column "points_brackets" <br>
with the following categories

$\qquad$ ``` ["0-20","21-30","31-100"] ```

$\qquad$ HINT: Use the "pd.cut()" command. See Lecture 12 <br>
$\qquad$ HINT: Be careful about the left and right points of <br>
$\qquad$ interval to make sure that you classify the points correctly

In [ ]:
# Write your own code:
sprint = pd.read_csv("data_raw/sprint_results.csv")

bins_points = [float("-inf"), 20, 30, 100]

<font size = "5">

(c) Aggregate and query

<font size = "3">

- Subset the observations for 'raceId <= 1070' using ```.query()```
- Obtain the maximum of "points" by "driverId" <br>  using ``` .groupby().agg() ``` and save this to <br>
a new dataset called "aggregate_data"
- From "aggregate_data" subset the drivers with a maximum number of points $>= 1$
- Display the resulting dataset


Hint: See Lecture 15

In [ ]:
# Write your own code

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Obtain the mean of "points" by "driverId" <br>  using ``` .groupby().agg() ```
- Sort the drivers in descending order using of <br>
the mean of points using ``` .sort_values() ```


Hint: See Lecture 15

In [ ]:
# Write your own code

<font size = "5">

(e) Rename column

<font size = "3">

- Rename the column "grid" to "grid_placement"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>
See Lecture 15

In [ ]:
# Write your own code

<font size = "5">

(f) Merge dataset

<font size = "3">

- Create a new dataset with  ```pd.merge()``` using <br>
"sprint_results" as the primary dataset, and <br>
"constructors" as the secondary dataset, merging on <br>
the column "constructorId"
- To get full points **ONLY** merge the "nationality" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"constructorId" column. <br>
Be careful to notice that "constructorId" has an uppercase "I".

See Lecture 15

In [ ]:
# Write your own code